<h1>Facturas</h1>

<%= link_to 'Nueva Factura', new_bill_path, class: 'agregar-factura-btn' %>

<ul class="bill-list">
  <% @bills.each do |bill| %>
    <li>
      <span>
        <strong>Factura #<%= bill.id %></strong> - 
        Cliente: <%= bill.client&.name || "Sin cliente" %> - 
        Fecha: <%= bill.date&.strftime("%d/%m/%Y") %>
      </span>
      <span class="bill-actions">
        <%= link_to 'Ver', bill_path(bill) %>
        |
        <%= link_to 'Eliminar', bill_path(bill), method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'eliminar' %>
      </span>
    </li>
  <% end %>
</ul>

<div style="text-align:center; margin-top:32px;">
  <%= link_to 'Volver', root_path, class: 'agregar-factura-btn' %>
</div>